*,
*::after,
*::before {
   box-sizing: border-box;
}

a {
  
   text-decoration: none;
}

.page {
   height: 100%;
}

.page-body {
   margin: 0;
   font-family: sans-serif;
}

.page-nav {
   background-color: #fff;
  
   
   padding: 7px 15px;
 
}

.page-menu {
   margin-top: 25.5px;
   
   padding-left: 0;
   ;

   text-align: center;
}

.page-menu-item {
   display: inline-block;
   margin-right: 20px;
}

.page-menu-link {
   display: inline-block;
   color: #ff0000;
   font-variant:small-caps;
   text-transform: uppercase;
   font-weight: 700px;
   font-size: 20px;
   line-height: 18px;
   letter-spacing: 2.7px;
   padding: 4px 6px;


}

.link-home {
font-style: normal;
font-weight: 700px;
font-size: 20px;
line-height: 18px;
color: #ff0000;
}


.phone-pictures {
   display: inline-block;
   
   
   width: 1280px;
   height: 789px;
   margin-top: 25.5px;
   margin-bottom: 49px;

}

.header-text {


font-weight: bold;
width: 774px;
height: 29px;
margin: 48px 253px 38px 253px ;
font-size: 22px;
line-height: 22px;
display: inline-block;
text-align: center;

}

 .text-lorem {

 width: 1145px;
 height: 132px;
 font-size: 16px;
 line-height: 26px;
 text-align: center;
 margin: 38px 67px 28px 67px 
}

   
   .text-vestibulum {
      
      width: 1145px;
      height: 216px;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      margin: 28px 67px 66px 67px ;
   }

   .link-start {
    
      background-color: #ff0000;
      color: #fff;
      align-items: center;
      font-weight: bold;
      font-size: 12px;
      line-height: 12px;
      padding: 18px 43.5px 17px 42.5px;
      margin: 66px 544.5px 82px 544.5px ; 
      display: block;

    }  


   .copyright {

      width: 462px;
      height: 39px;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      display: flex;
      align-items: center;
      margin: 99px 105px 29px 713px ;
   }

   







